#main{
  background-color: #D0D5DB;
  text-align: center;
}
header{
  background-color: #b6bec8;
}
#image{
  display: block;
  margin: auto;
  max-width: 100%;
}
.blue{
  color: #32527B;
}
ul{
  margin: 0 auto 20px 25%;
  text-align: left;
}
